<div class="mt-4"></div>
    <form method="get" action="/search">
        <div class="form-group">
            <label for="search-input">Tìm kiếm</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập thông tin...">
        </div>

         <div class="form-group">
            <label for="gender-input">Tìm kiếm</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value="">--Chọn giới tính</option>
                <option value="male">Nam</option>
                <option value="famale">Nữ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>